@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');

}


.left-margin {
  margin: 0 .5em 0 0;
}

.right-button-margin {
  margin: 0 0 1em 0;
  overflow: hidden;
}

/* some changes in bootstrap modal */
.modal-body {
  padding: 20px 20px 0px 20px !important;
  text-align: center !important;
}

.modal-footer {
  text-align: center !important;
}

.extrabold-text {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;

}

.bold-text {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
}

.semibold-text {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
}

.light-text {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  color: black;

}

.regular-text {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;

}


.searchbar-placeholder {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
}

.createproduct-btn-text {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}
